{% extends 'myapp/base.html' %}
{% load static %}
{% block body_block %}
<main class="container my-4">
<h3 class="my-4 pb-1">Categories</h3>
<div class="row">
{% for cat in category %}
<div class="col-md-3 mb-4">
<div class="card shadow">
<a href="{% url 'cat_product' cat.id %}"><img src="{{cat.image.url}}" height=200px alt={{cat.title}}></a>
</div>
<div class="card-header">
<h5><a href="{% url 'cat_product' cat.id %}">{{cat.title}}</a></h5>
</div>
</div>
{% endfor %}
</div>
</main>
{% endblock %}
